### Contents
#### 1. Importing data and libraries
#### 2. Wrangle Data
##### Groupby year, avg the populations
##### Add prison and jail rates

### 1. Importing data and libraries

In [40]:
import pandas as pd
import numpy as np
import os
import warnings
warnings.filterwarnings("ignore")

In [6]:
path = r'C:\Documents\Career Foundry\Immersion Final\Prison Comparisons\02 Data'

In [7]:
df = pd.read_csv(os.path.join(path, 'Prepped Data', 'rates.csv'), index_col = 0)

In [8]:
df.head()

,state,county_name,total_jail_pop_rate,black_jail_pop_rate,white_jail_pop_rate,total_prison_pop_rate,black_prison_pop_rate,white_prison_pop_rate
year,,,,,,,,
1990,AL,Autauga County,208.54,648.31,91.56,312.38,901.78,185.30
1991,AL,Autauga County,249.10,931.96,118.99,380.57,1360.87,171.13
1992,AL,Autauga County,251.37,385.35,91.45,407.73,1379.64,202.64
1993,AL,Autauga County,204.99,560.35,55.71,397.67,1400.89,187.40
1994,AL,Autauga County,233.16,700.86,87.12,491.44,1637.85,254.52

### 2. Wrangle data

In [22]:
df.isnull().sum()

state                        0
county_name                  0
total_jail_pop_rate       5364
black_jail_pop_rate       8781
white_jail_pop_rate       5887
total_prison_pop_rate    21766
black_prison_pop_rate    53251
white_prison_pop_rate    42500
dtype: int64

In [23]:
df.tail(50)

,state,county_name,total_jail_pop_rate,black_jail_pop_rate,white_jail_pop_rate,total_prison_pop_rate,black_prison_pop_rate,white_prison_pop_rate
year,,,,,,,,
1998,WY,Washakie County,826.24,0.00,438.23,NaN,NaN,NaN
1999,WY,Washakie County,896.68,0.00,511.51,NaN,NaN,NaN
2000,WY,Washakie County,372.01,NaN,NaN,NaN,NaN,NaN
2001,WY,Washakie County,392.17,NaN,NaN,NaN,NaN,NaN
2002,WY,Washakie County,409.06,NaN,NaN,NaN,NaN,NaN
2003,WY,Washakie County,426.14,NaN,NaN,NaN,NaN,NaN
2004,WY,Washakie County,441.93,NaN,NaN,NaN,NaN,NaN
2005,WY,Washakie County,447.99,0.00,497.40,194.78,NaN,135.65
2006,WY,Washakie County,492.81,0.00,529.91,197.12,NaN,114.60
2007,WY,Washakie County,489.70,0.00,542.99,192.57,NaN,134.35
2008,WY,Washakie County,498.07,0.00,573.95,211.86,NaN,158.30
2009,WY,Washakie County,500.19,0.00,594.57,228.31,NaN,NaN
2010,WY,Washakie County,511.39,0.00,620.12,229.75,NaN,NaN
2011,WY,Washakie County,526.38,0.00,656.69,310.32,NaN,NaN
2012,WY,Washakie County,539.85,0.00,696.02,411.20,NaN,NaN
2013,WY,Washakie County,547.52,0.00,726.51,449.75,NaN,NaN
2014,WY,Washakie County,558.99,0.00,741.27,618.89,NaN,NaN
2015,WY,Washakie County,558.88,0.00,746.09,598.80,NaN,NaN
2016,WY,Washakie County,571.31,0.00,764.68,612.12,0.0,444.01
2017,WY,Washakie County,578.87,0.00,773.07,NaN,NaN,NaN
2018,WY,Washakie County,588.61,0.00,785.41,NaN,NaN,NaN
1990,WY,Weston County,272.75,NaN,331.21,NaN,NaN,NaN
1991,WY,Weston County,272.28,NaN,141.15,NaN,NaN,NaN
1992,WY,Weston County,96.34,NaN,74.02,NaN,NaN,NaN
1993,WY,Weston County,120.92,NaN,248.14,NaN,NaN,NaN
1994,WY,Weston County,184.41,NaN,269.68,NaN,NaN,NaN
1995,WY,Weston County,247.62,NaN,293.43,NaN,NaN,NaN
1996,WY,Weston County,307.45,NaN,316.16,NaN,NaN,NaN
1997,WY,Weston County,373.09,NaN,343.80,NaN,NaN,NaN
1998,WY,Weston County,434.60,NaN,368.48,NaN,NaN,NaN
1999,WY,Weston County,502.63,NaN,400.09,NaN,NaN,NaN
2000,WY,Weston County,456.83,18333.33,458.71,NaN,NaN,NaN
2001,WY,Weston County,420.07,20166.67,526.23,NaN,NaN,NaN
2002,WY,Weston County,365.71,16375.00,570.88,NaN,NaN,NaN
2003,WY,Weston County,315.96,17625.00,619.38,NaN,NaN,NaN
2004,WY,Weston County,269.36,15200.00,671.90,NaN,NaN,NaN
2005,WY,Weston County,226.24,10800.00,736.17,475.11,NaN,NaN
2006,WY,Weston County,289.27,8588.24,655.58,556.30,NaN,NaN
2007,WY,Weston County,251.06,6500.00,557.29,529.21,NaN,NaN
2008,WY,Weston County,223.73,5428.57,484.90,480.47,NaN,NaN
2009,WY,Weston County,196.95,4666.67,411.88,452.77,NaN,NaN
2010,WY,Weston County,178.15,3280.00,358.10,443.79,NaN,NaN
2011,WY,Weston County,156.34,2241.38,296.74,514.69,NaN,NaN
2012,WY,Weston County,133.86,1000.00,234.96,370.61,NaN,NaN
2013,WY,Weston County,108.13,916.67,163.51,324.39,NaN,NaN
2014,WY,Weston County,108.55,673.47,165.21,325.66,NaN,NaN
2015,WY,Weston County,108.37,717.39,165.33,325.10,NaN,NaN
2016,WY,Weston County,109.12,767.44,166.94,305.54,NaN,310.04
2017,WY,Weston County,113.58,622.64,175.53,NaN,NaN,NaN
2018,WY,Weston County,115.37,589.29,179.58,NaN,NaN,NaN

#### Groupby year, avg the populations

In [18]:
dfg = df.groupby(['year']).agg({'total_jail_pop_rate': ['mean'],
                                       'black_jail_pop_rate': ['mean'],
                                       'white_jail_pop_rate': ['mean'],
                                        'total_prison_pop_rate': ['mean'],
                                        'black_prison_pop_rate': ['mean'],
                                       'white_prison_pop_rate': ['mean']})

In [19]:
dfg = dfg.reset_index()

In [21]:
dfg.head(50)

,year,total_jail_pop_rate,black_jail_pop_rate,white_jail_pop_rate,total_prison_pop_rate,black_prison_pop_rate,white_prison_pop_rate
,,mean,mean,mean,mean,mean,mean
0,1990,220.244859,4040.877705,144.648892,355.808576,2028.647599,249.419695
1,1991,233.675217,4013.201432,151.422389,376.205067,3358.304315,260.391792
2,1992,247.364474,4639.860019,154.959986,394.674484,1885.160157,260.914168
3,1993,258.363553,5046.916147,161.580175,409.483848,1833.176756,258.252342
4,1994,272.376004,5617.884128,171.814714,442.083121,2068.318762,285.416411
5,1995,289.756367,6440.400574,181.970446,469.230535,2621.375929,309.286386
6,1996,305.514308,6296.821835,191.728834,490.504201,2370.361347,306.809122
7,1997,327.009050,7038.503475,206.393479,509.671070,2334.733033,306.883612
8,1998,348.547476,7328.549081,219.732652,532.852710,2474.650814,320.927562
9,1999,373.657494,7427.794323,237.582929,556.120148,2713.099434,350.972442
10,2000,391.984367,4625.692644,254.904472,576.766821,2931.793729,415.513272
11,2001,415.789279,4984.041291,272.200544,598.260846,2811.459737,421.596621
12,2002,438.147684,5256.299914,292.716622,613.063531,2983.748747,440.354267
13,2003,460.856652,5276.760609,310.998648,628.373174,2957.788711,456.012885
14,2004,487.534204,5422.522294,329.705093,642.706365,2914.631927,468.171087
15,2005,508.477436,4132.157407,358.176033,655.982044,3007.207742,490.947766
16,2006,549.271230,3982.901470,372.582639,676.917810,3840.174088,513.930785
17,2007,540.000508,4017.226324,381.824466,685.119295,3698.773251,524.695326
18,2008,533.080112,4124.765582,380.707479,681.717281,3465.582985,521.429002
19,2009,534.486484,3969.710085,393.719654,681.797284,3353.225366,520.471187
20,2010,536.945594,3431.359346,402.707900,685.049216,3237.458202,528.760260
21,2011,545.008910,3118.822314,407.478568,681.804775,2752.792398,532.823010
22,2012,555.744535,2883.506170,418.694330,693.208875,2660.646957,551.851625
23,2013,584.806971,2782.936871,435.117515,692.778721,2597.884351,555.781541
24,2014,590.951986,2711.740844,453.107772,684.166258,2514.315953,568.908729
25,2015,590.207379,2605.703772,465.548271,699.327178,2537.393443,589.943869
26,2016,594.123212,2527.004970,475.597616,700.229293,2485.636036,601.674754
27,2017,603.607011,2543.682528,486.525334,NaN,NaN,NaN
28,2018,610.726670,2519.287053,498.129169,NaN,NaN,NaN

In [30]:
# delete 2017-2018 because too much missing information and looking for trends over time so 1990-2016 is fine

dfg2 = dfg.iloc[:27]

In [29]:
dfg2.head(50)

,year,total_jail_pop_rate,black_jail_pop_rate,white_jail_pop_rate,total_prison_pop_rate,black_prison_pop_rate,white_prison_pop_rate
,,mean,mean,mean,mean,mean,mean
0,1990,220.244859,4040.877705,144.648892,355.808576,2028.647599,249.419695
1,1991,233.675217,4013.201432,151.422389,376.205067,3358.304315,260.391792
2,1992,247.364474,4639.860019,154.959986,394.674484,1885.160157,260.914168
3,1993,258.363553,5046.916147,161.580175,409.483848,1833.176756,258.252342
4,1994,272.376004,5617.884128,171.814714,442.083121,2068.318762,285.416411
5,1995,289.756367,6440.400574,181.970446,469.230535,2621.375929,309.286386
6,1996,305.514308,6296.821835,191.728834,490.504201,2370.361347,306.809122
7,1997,327.009050,7038.503475,206.393479,509.671070,2334.733033,306.883612
8,1998,348.547476,7328.549081,219.732652,532.852710,2474.650814,320.927562
9,1999,373.657494,7427.794323,237.582929,556.120148,2713.099434,350.972442
10,2000,391.984367,4625.692644,254.904472,576.766821,2931.793729,415.513272
11,2001,415.789279,4984.041291,272.200544,598.260846,2811.459737,421.596621
12,2002,438.147684,5256.299914,292.716622,613.063531,2983.748747,440.354267
13,2003,460.856652,5276.760609,310.998648,628.373174,2957.788711,456.012885
14,2004,487.534204,5422.522294,329.705093,642.706365,2914.631927,468.171087
15,2005,508.477436,4132.157407,358.176033,655.982044,3007.207742,490.947766
16,2006,549.271230,3982.901470,372.582639,676.917810,3840.174088,513.930785
17,2007,540.000508,4017.226324,381.824466,685.119295,3698.773251,524.695326
18,2008,533.080112,4124.765582,380.707479,681.717281,3465.582985,521.429002
19,2009,534.486484,3969.710085,393.719654,681.797284,3353.225366,520.471187
20,2010,536.945594,3431.359346,402.707900,685.049216,3237.458202,528.760260
21,2011,545.008910,3118.822314,407.478568,681.804775,2752.792398,532.823010
22,2012,555.744535,2883.506170,418.694330,693.208875,2660.646957,551.851625
23,2013,584.806971,2782.936871,435.117515,692.778721,2597.884351,555.781541
24,2014,590.951986,2711.740844,453.107772,684.166258,2514.315953,568.908729
25,2015,590.207379,2605.703772,465.548271,699.327178,2537.393443,589.943869
26,2016,594.123212,2527.004970,475.597616,700.229293,2485.636036,601.674754

In [33]:
# Output data to file

dfg2.to_csv(os.path.join(path, 'Prepped Data', 'rates_group_year_avg.csv'))

In [32]:
dfg2.columns

MultiIndex([(                 'year',     ''),
            (  'total_jail_pop_rate', 'mean'),
            (  'black_jail_pop_rate', 'mean'),
            (  'white_jail_pop_rate', 'mean'),
            ('total_prison_pop_rate', 'mean'),
            ('black_prison_pop_rate', 'mean'),
            ('white_prison_pop_rate', 'mean')],
           )

In [36]:
dfg2.columns = ['year', 'tot_jail_pop_rate', 'black_jail_pop_rate', 'white_jail_pop_rate', 'total_prison_pop_rate', 'black_prison_pop_rate', 'white_prison_pop_rate']

In [37]:
dfg2

,year,tot_jail_pop_rate,black_jail_pop_rate,white_jail_pop_rate,total_prison_pop_rate,black_prison_pop_rate,white_prison_pop_rate
0,1990,220.244859,4040.877705,144.648892,355.808576,2028.647599,249.419695
1,1991,233.675217,4013.201432,151.422389,376.205067,3358.304315,260.391792
2,1992,247.364474,4639.860019,154.959986,394.674484,1885.160157,260.914168
3,1993,258.363553,5046.916147,161.580175,409.483848,1833.176756,258.252342
4,1994,272.376004,5617.884128,171.814714,442.083121,2068.318762,285.416411
5,1995,289.756367,6440.400574,181.970446,469.230535,2621.375929,309.286386
6,1996,305.514308,6296.821835,191.728834,490.504201,2370.361347,306.809122
7,1997,327.009050,7038.503475,206.393479,509.671070,2334.733033,306.883612
8,1998,348.547476,7328.549081,219.732652,532.852710,2474.650814,320.927562
9,1999,373.657494,7427.794323,237.582929,556.120148,2713.099434,350.972442
10,2000,391.984367,4625.692644,254.904472,576.766821,2931.793729,415.513272
11,2001,415.789279,4984.041291,272.200544,598.260846,2811.459737,421.596621
12,2002,438.147684,5256.299914,292.716622,613.063531,2983.748747,440.354267
13,2003,460.856652,5276.760609,310.998648,628.373174,2957.788711,456.012885
14,2004,487.534204,5422.522294,329.705093,642.706365,2914.631927,468.171087
15,2005,508.477436,4132.157407,358.176033,655.982044,3007.207742,490.947766
16,2006,549.271230,3982.901470,372.582639,676.917810,3840.174088,513.930785
17,2007,540.000508,4017.226324,381.824466,685.119295,3698.773251,524.695326
18,2008,533.080112,4124.765582,380.707479,681.717281,3465.582985,521.429002
19,2009,534.486484,3969.710085,393.719654,681.797284,3353.225366,520.471187
20,2010,536.945594,3431.359346,402.707900,685.049216,3237.458202,528.760260
21,2011,545.008910,3118.822314,407.478568,681.804775,2752.792398,532.823010
22,2012,555.744535,2883.506170,418.694330,693.208875,2660.646957,551.851625
23,2013,584.806971,2782.936871,435.117515,692.778721,2597.884351,555.781541
24,2014,590.951986,2711.740844,453.107772,684.166258,2514.315953,568.908729
25,2015,590.207379,2605.703772,465.548271,699.327178,2537.393443,589.943869
26,2016,594.123212,2527.004970,475.597616,700.229293,2485.636036,601.674754

#### Add prison and jail rates

In [41]:
dfg2['tot_imprisoned'] = dfg2['tot_jail_pop_rate'] + dfg2['total_prison_pop_rate']

In [42]:
dfg2.head()

,year,tot_jail_pop_rate,black_jail_pop_rate,white_jail_pop_rate,total_prison_pop_rate,black_prison_pop_rate,white_prison_pop_rate,tot_imprisoned
0,1990,220.244859,4040.877705,144.648892,355.808576,2028.647599,249.419695,576.053435
1,1991,233.675217,4013.201432,151.422389,376.205067,3358.304315,260.391792,609.880284
2,1992,247.364474,4639.860019,154.959986,394.674484,1885.160157,260.914168,642.038957
3,1993,258.363553,5046.916147,161.580175,409.483848,1833.176756,258.252342,667.847402
4,1994,272.376004,5617.884128,171.814714,442.083121,2068.318762,285.416411,714.459125

In [43]:
# Drop jail and pop columns after combined

dfg2.drop(['tot_jail_pop_rate', 'total_prison_pop_rate'], axis=1, inplace=True)

In [44]:
dfg2.head()

,year,black_jail_pop_rate,white_jail_pop_rate,black_prison_pop_rate,white_prison_pop_rate,tot_imprisoned
0,1990,4040.877705,144.648892,2028.647599,249.419695,576.053435
1,1991,4013.201432,151.422389,3358.304315,260.391792,609.880284
2,1992,4639.860019,154.959986,1885.160157,260.914168,642.038957
3,1993,5046.916147,161.580175,1833.176756,258.252342,667.847402
4,1994,5617.884128,171.814714,2068.318762,285.416411,714.459125

In [46]:
dfg2['tot_black_imprisoned'] = dfg2['black_jail_pop_rate'] + dfg2['black_prison_pop_rate']

In [47]:
# Drop jail and pop columns after combined

dfg2.drop(['black_jail_pop_rate', 'black_prison_pop_rate'], axis=1, inplace=True)

In [48]:
dfg2.head()

,year,white_jail_pop_rate,white_prison_pop_rate,tot_imprisoned,tot_black_imprisoned
0,1990,144.648892,249.419695,576.053435,6069.525303
1,1991,151.422389,260.391792,609.880284,7371.505747
2,1992,154.959986,260.914168,642.038957,6525.020177
3,1993,161.580175,258.252342,667.847402,6880.092903
4,1994,171.814714,285.416411,714.459125,7686.202891

In [49]:
dfg2['tot_white_imprisoned'] = dfg2['white_jail_pop_rate'] + dfg2['white_prison_pop_rate']

In [50]:
# Drop jail and pop columns after combined

dfg2.drop(['white_jail_pop_rate', 'white_prison_pop_rate'], axis=1, inplace=True)

In [51]:
dfg2.head()

   year  tot_imprisoned  tot_black_imprisoned  tot_white_imprisoned
0  1990      576.053435           6069.525303            394.068587
1  1991      609.880284           7371.505747            411.814181
2  1992      642.038957           6525.020177            415.874154
3  1993      667.847402           6880.092903            419.832516
4  1994      714.459125           7686.202891            457.231124

In [53]:
dfg2.to_csv(os.path.join(path, 'Prepped Data', 'tot_imprisonned.means.csv' ))